html {
    font-family:Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    line-height:1.65;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    scroll-behavior:smooth;
    scroll-padding-top: 5rem;
    font-size: 16px;
    /*color: #f4f5f7;*/
}

body {
    overflow-x:hidden;
    display: block !important;
    margin:0;
}

.content {
    margin-left: calc((20% + 140px) / 2);
    width: 80%;
}

@media screen and (min-width: 1920px){
    .content {
        margin-left: calc(  (100% - 140px - 1536px)/2 + 140px  );
        width: 1536px; <!--80% of 1920-->
    }
}

a {
    color: #04905d;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: #222 -2px 2px 4px 2px;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: #f4f5f7;
    text-align: center;
    padding: 4px 10px 2px;
    margin: 6px;
    text-decoration: none;
}

.nav li a:not(.active) {
    padding-top: 6px;
}

.nav li a.active {
    padding-left: 8px;
    padding-right: 8px;
}

.nav li a:not(.side_nav_header):not(.logo):hover {
    border-bottom: solid 2px #04AA6D;
    padding-bottom: 2px;
}

.active {
    border: solid 2px #04AA6D;
    border-radius: 15px;
}

.logo {
    transform: translateY(-5px);
}

.version {
    position: fixed;
    color: white;
    font-size: 11px;
    top: 27px;
    left: 37px;
    z-index: 1;
}

.separator {
    width: 2px;
    height: 26px;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 2px;
    background-color: white;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: #00000020;
}

.note {
    border-radius: 12px;
    border: solid 2px black;
    background-color: #ddd;
    box-shadow: #444 4px 4px 2px;
    padding: 8px;
}

.code_inline {
    border-radius: 6px;
    border: solid 1px black;
    background-color: #e0eee0;
    box-shadow: #444 1px 1px 2px;
    padding: 3px;
}

.code_block {
    border-radius: 12px;
    border: solid 2px black;
    box-shadow: #444 4px 4px 2px;
    padding: 8px;
    aspect-ratio: 854 / 480;
}

.spacer {
    height: 400px;
}

.result {
    border-radius: 12px;
    box-shadow: #444 4px 4px 2px;
    padding: 8px;
    aspect-ratio: 854 / 480;

    background-size: cover;
}

@supports not (aspect-ratio: auto) {
    .code_block, .result {
        height: 240px;
    }
}


table {
    width: 100%;
    margin-bottom: 50px;
    border: solid 2px black;
    border-spacing: 0;
    border-radius: 12px;
    background-color: #f4f5f7;
    overflow: scroll;
    box-shadow: #444 4px 4px 2px;
}

thead {
    border: solid 2px green;
    position: -webkit-sticky;
    position: sticky;
    top: 40px; /*90*/
    z-index: 0;
}

th {
    background-color: #bbb;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 10px 8px 6px 8px;
}

td {
    text-align:center;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding: 8px;
}

tr:nth-child(even) td{ background-color: #ddd; }
th:last-child, td:last-child { border-right: none; }
.rowspan_fix_right { border-right: 2px solid !important; }
tr:last-child td, .rowspan { border-bottom: none; }
th:first-child { border-radius: 10px 0 0 0; }
th:last-child { border-radius: 0 10px 0 0; }
tr:last-child td:first-child { border-radius: 0 0 0 10px; }
.last_cell { border-radius: 0 0 10px 0; }

.all_left_cells td {
    text-align: left;
}

.left_cells td:not(:first-child){
    text-align: left;
}

.item tr td:first-child {
    text-align: left;
}

.real_time_table {
    flex: 1;
}
.real_time_table td:nth-child(2) {
    text-align: left;
}


.side_nav {
    position: fixed;
    top: 44px;
    width: 155px;
    float: left;
    box-shadow: #222 4px 0 2px;
    padding: 8px 0;
    height: 100vh;
}

.side_nav li {
    float: none;
}

.side_nav li a.side_nav_header:hover{
    border-bottom: revert;
}

.side_nav li a:not(.side_nav_header) {
    margin: 0 8px;
    padding: 2px;
}

.side_nav li a:hover:not(.side_nav_header):not(.active) {
    padding-bottom: 0 !important;
}

.side_nav_getting_started li a {
    text-align: left;
}

.side_nav_header {
    font-size: 18px;
    text-align: center !important;
    text-decoration: underline !important;
    margin: 6px 0 !important;
}

@media screen and (max-width: 1400px){
    html {
        font-size: 14px;
    }
    .side_nav {
        width: 145px;
    }
    .version {
        font-size: 10px;
        left: 33px;
        top: 25px;
    }
    .side_nav_header {
        font-size: 16px;
    }
}

.next { left: 80px }
.prev { left: 12px }

.next, .prev {
    position: fixed;
    bottom: 12px;
    color: white;
    padding-bottom: 2px;
}
.next:hover, .prev:hover {
    text-decoration: none;
    border-bottom: solid 2px #04AA6D;
    padding-bottom: 0;
}

rect {
    fill: white;
    fill-opacity: 0;
    stroke: red;
    stroke-width: 3;
}


text {
    display: none;
    font-weight: bold;
    font-size: 36px;
}
#r1v1:hover ~ #r1v1-test,
#r1v2:hover ~ #r1v2-test,
#r1v3:hover ~ #r1v3-test,

#r2v1:hover ~ #r2v1-test,
#r2v2:hover ~ #r2v2-test,
#r2v3:hover ~ #r2v3-test,
#r2v4:hover ~ #r2v4-test,
#r2v5:hover ~ #r2v5-test,
#r2v6:hover ~ #r2v6-test,
#r2v7:hover ~ #r2v7-test,

#r3v1:hover ~ #r3v1-test,
#r3v2:hover ~ #r3v2-test,
#r3v3:hover ~ #r3v3-test,

#r4v1:hover ~ #r4v1-test,
#r4v2:hover ~ #r4v2-test,
#r4v3:hover ~ #r4v3-test,
#r4v4:hover ~ #r4v4-test,
#r4v5:hover ~ #r4v5-test,
#r4v6:hover ~ #r4v6-test,

#r5v1:hover ~ #r5v1-test,
#r5v2:hover ~ #r5v2-test,

#r6v1:hover ~ #r6v1-test,
#r6v2:hover ~ #r6v2-test,

#r9v1:hover ~ #r9v1-test,
#r9v2:hover ~ #r9v2-test,
#r9v3:hover ~ #r9v3-test,
#r9v4:hover ~ #r9v4-test,
#r9v5:hover ~ #r9v5-test,
#r9v6:hover ~ #r9v6-test,

#r10v1:hover ~ #r10v1-test,

#r11v1:hover ~ #r11v1-test,
#r11v2:hover ~ #r11v2-test,

#r12v1:hover ~ #r12v1-test,
#r12v2:hover ~ #r12v2-test,
#r12v3:hover ~ #r12v3-test,

#r13v1:hover ~ #r13v1-test,
#r13v2:hover ~ #r13v2-test,
#r13v3:hover ~ #r13v3-test,

#r14v1:hover ~ #r14v1-test,
#r14v2:hover ~ #r14v2-test,
#r14v3:hover ~ #r14v3-test,

#r15v1:hover ~ #r15v1-test,
#r15v2:hover ~ #r15v2-test,

#r16v1:hover ~ #r16v1-test,
#r16v2:hover ~ #r16v2-test,
#r16v3:hover ~ #r16v3-test,
#r16v4:hover ~ #r16v4-test,

#r17v1:hover ~ #r17v1-test,

#r18v1:hover ~ #r18v1-test,
#r18v2:hover ~ #r18v2-test,

#r21v1:hover ~ #r21v1-test,
#r21v2:hover ~ #r21v2-test,
#r21v3:hover ~ #r21v3-test,
#r21v4:hover ~ #r21v4-test,
#r21v5:hover ~ #r21v5-test,
#r21v6:hover ~ #r21v6-test,
#r21v7:hover ~ #r21v7-test,
#r21v8:hover ~ #r21v8-test,
#r21v9:hover ~ #r21v9-test,

#r22v1:hover ~ #r22v1-test,
#r22v2:hover ~ #r22v2-test,
#r22v3:hover ~ #r22v3-test,

#rs_r1v1:hover ~ #rs_r1v1-test,
#rs_r1v2:hover ~ #rs_r1v2-test,

#rs_r2v1:hover ~ #rs_r2v1-test,
#rs_r2v2:hover ~ #rs_r2v2-test,
#rs_r2v3:hover ~ #rs_r2v3-test,

#rs_r3v1:hover ~ #rs_r3v1-test,
#rs_r3v2:hover ~ #rs_r3v2-test,

#rs_r4v1:hover ~ #rs_r4v1-test,

#rs_r5v1:hover ~ #rs_r5v1-test,

#rs_r6v1:hover ~ #rs_r6v1-test,

#rs_r7v1:hover ~ #rs_r7v1-test,
#rs_r7v2:hover ~ #rs_r7v2-test,

#rs_r8v1:hover ~ #rs_r8v1-test,
#rs_r8v2:hover ~ #rs_r8v2-test
{
    display: block;
}